<div class="flex justify-center mt-24">
  <div class="h-max mx-auto flex flex-col items-center">
    <p class="font-bold">Cadastrar um novo usuário</p>
    <a routerLink="/" class="mt-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-red-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    </a>
    <div class="bg-white shadow-xl p-10 flex flex-col gap-4 text-sm mt-4">
      <div>
        <label class="text-gray-600 font-bold inline-block pb-2" for="email">Email</label>
        <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="email" name="email" placeholder="mehedi@jaman.com">
      </div>
      <div>
        <label class="text-gray-600 font-bold inline-block pb-2" for="password">Senha</label>
        <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="password" name="password" placeholder="******">
      </div>
      <div class="flex justify-center">
        <button class="bg-[#1D9BF0] w-1/2 py-1 rounded-md text-white font-bold cursor-pointer hover:bg-[#181196]">Cadatrar</button>
      </div>
    </div>
  </div>
</div>
